<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Search Foods</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2/dist/css/select2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/select2/dist/js/select2.min.js"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f3f3f3;
            color: #333;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 20px;
            height: 100vh;
        }

        form,
        .result-item,
        .button-container {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            width: 300px;
            margin-bottom: 20px;
        }

        input,
        button {
            padding: 10px;
            margin-top: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            width: 100%;
        }

        button {
            background-color: #0054a6;
            color: white;
            border: none;
            padding: 10px 15px;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background-color: #ff8000;
        }
    </style>
</head>

<body>
    <h1>Search Foods</h1>
    <form action="/search-food" method="post">
        <input type="text" name="foodName" placeholder="Enter food name" required>
        <button type="submit">Search</button>
    </form>
    <% if (foods && foods.length> 0) { %>
        <% foods.forEach(function(food) { %>
            <div class="result-item">
                <p>
                    <%= food.Name %>: <%= food.Calories %> calories
                </p>
            </div>
            <% }); %>
                <% } else { %>
                    <p>No results found.</p>
                    <% } %>
                        <div class="button-container">
                            <button onclick="window.location.href='/track-meals'">Back to track meals</button>
                        </div>
</body>

</html>
